{% extends "base_template.html" %}
{% autoescape None %}
<!--<link>-->
{% block content %}
<h3>ROADM Links/Degrees</h3>
<p>Current ROADM degree SRLGs</p>
<div class="alert alert-danger alert-dismissible collapse" role="alert" id="failed">
    <a href="#" class="close" data-hide="alert" aria-label="close" >&times;</a>
  <strong>Failed!</strong> The request to the server failed.  Try again.
</div>
<div class="alert alert-warning alert-dismissible collapse" role="alert" id="partial">
    <a href="#" class="close" data-hide="alert" aria-label="close" >&times;</a>
  <strong>Partial</strong> The request to the server resulted in partial completion.  Please check server logs.
</div>
<div class="alert alert-success alert-dismissible collapse" role="alert" id="completed">
    <a href="#" class="close" data-hide="alert" aria-label="close" >&times;</a>
  <strong>Sucess</strong> The request to the server completed successfully.
</div>
<form id="l1links-degree-form">
    <div><input type="hidden" name="type" value="degree"></div>
    <div><input type="hidden" name="action" value="assign-srrg"></div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <select class="form-control" name="pool-name" id="region-select">
                <!--<option>Region 4 ROADM Degree</option>-->
                <!--<option>Region 4 Conduit</option>-->
                {% for pool in degree_pools %}
                {% block pool %}
                <option>{{ escape(pool) }}</option>
                {% end %}
                {% end %}
            </select>
        </div>
        <div class="form-group col-md-3">
            <button type="submit" class="btn btn-success" style="width: 75%" id="l1links-degree-btn" disabled>
                <!--<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="spinner"></span>-->
                Assign Degree
            </button>
        </div>
    </div>
</form>
<form id="l1links-conduit-form">
    <div><input type="hidden" name="type" value="conduit"></div>
    <div><input type="hidden" name="action" value="assign-srrg"></div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <select class="form-control" name="pool-name" id="region-select">
                <!--<option>Region 4 ROADM Degree</option>-->
                <!--<option>Region 4 Conduit</option>-->
                {% for pool in conduit_pools %}
                {% block pool %}
                <option>{{ escape(pool) }}</option>
                {% end %}
                {% end %}
            </select>
        </div>
        <div class="form-group col-md-3">
            <button type="submit" class="btn btn-success" style="width: 75%" id="l1links-conduit-btn" disabled>
                <!--<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="spinner"></span>-->
                Assign Conduit
            </button>
        </div>
    </div>
</form>
<form id="l1links-unassign-form">
    <div><input type="hidden" name="action" value="unassign-srrg"></div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <button type="submit" class="btn btn-success" style="width: 33%" id="l1links-unassign-btn" disabled>
                Unassign
            </button>
            <div class="btn-group" data-toggle="buttons">
                <label label-default="" class="btn btn-default">
                    <input id="option1" name="type" type="radio" value="link"/>Link/Degree</label>
                <label label-default="" class="btn btn-default">
                    <input id="option2" name="type" type="radio" value="conduit"/>Conduit</label>
            </div>
        </div>
    </div>
</form>

<div class="table" id="tablediv">
    <table id="links_table" name="l1links"></table>
</div>
<script type="text/javascript">
    client.buildL1linksTable('{{ l1links_data }}');
</script>

{% end %}