{% extends "base_template.html" %}
{% block content %}
<h1>Streaming Telemetry Demo</h1>
<p>Demonstrate programmability & streaming telemetry of Cisco UT devices.</p>
<div class="alert alert-danger alert-dismissible collapse" role="alert" id="failed">
    <a href="#" class="close" data-hide="alert" aria-label="close">&times;</a>
    <strong>Failed!</strong> The request to the server failed. Try again.
</div>
<div class="alert alert-success alert-dismissible collapse" role="alert" id="completed">
    <a href="#" class="close" data-hide="alert" aria-label="close">&times;</a>
    <strong>Sucess</strong> The request to the server completed successfully.
</div>
<div>
    <form id="telemetry-form">
        <div><input type="hidden" name="action" value="update-telemetry"></div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label>Kafka Server IP</label>
                <input name="kafka-ip" type="text" class="form-control" id="exampleKafkaIP"
                       value="{{kafka_ip}}">
            </div>
            <div class="form-group col-md-2">
                <label>Kafka Topic</label>
                <input name="kafka-topic" type="text" class="form-control" id="exampleKafkaTopic"
                       value="{{kafka_topic}}">
            </div>
            <div class="form-group col-md-6">
                <label>Telemetry Path</label>
                <input name="telemetry-path" type="text" class="form-control" id="exampleTelemetryPath"
                       value="{{telemetry_path}}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <button type="submit" class="btn btn-primary" style="width: 75%" id="telemetry-btn">OK</button>
            </div>
        </div>
    </form>
</div>
{#<iframe src="{{ telemetry_url }}" width="650" height="750" frameborder="0"></iframe>#}
<h4>Message Console</h4>
<div class="card">
    <div class="card-body" id="textfield" style="min-height: 400px;max-height: 400px;overflow-y: scroll;">
        <pre class="card-text" id="updatefield"></pre>
    </div>
</div>
<script type="text/javascript">
    client.connect({{port}});
</script>
{% end %}


