{% extends "base_template.html" %}
{% autoescape None %}
{% block content %}
<h3>Add/Drop Topological Links</h3>
<p>Includes Add/Drop topological links for a specific L1 node (NCS2k)</p>
<div class="alert alert-danger alert-dismissible collapse" role="alert" id="failed">
    <a href="#" class="close" data-hide="alert" aria-label="close">&times;</a>
    <strong>Failed!</strong> The request to the server failed. Try again.
</div>
<div class="alert alert-warning alert-dismissible collapse" role="alert" id="partial">
    <a href="#" class="close" data-hide="alert" aria-label="close" >&times;</a>
  <strong>Partial</strong> The request to the server resulted in partial completion.  Please check server logs.
</div>
<div class="alert alert-success alert-dismissible collapse" role="alert" id="completed">
    <a href="#" class="close" data-hide="alert" aria-label="close">&times;</a>
    <strong>Sucess</strong> The request to the server completed successfully.
</div>
<form id="topolinks-add-drop-form">
    <div><input type="hidden" name="type" value="add-drop"></div>
    <div><input type="hidden" name="action" value="assign-srrg"></div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <select class="form-control" name="pool-name" id="region-select">
                {% for pool in add_drop_pools %}
                {% block pool %}
                <option>{{ escape(pool) }}</option>
                {% end %}
                {% end %}
            </select>
        </div>
        <div class="form-group col-md-3">
            <button type="submit" class="btn btn-success" style="width: 75%" id="topolinks-btn" disabled>
                Assign Add/Drop
            </button>
        </div>
    </div>
</form>
<form id="topolinks-psline-form">
    <div><input type="hidden" name="l1node" value="{{l1node}}"></div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <select class="form-control" name="psline" id="psline-select" onchange="this.form.submit()">
                <option>PSLINE-81-1</option>
                <option>PSLINE-81-2</option>
                <option>PSLINE-81-6</option>
                <option>PSLINE-81-7</option>
                <option>PSLINE-2-1</option>
                <option>PSLINE-2-2</option>
                <option>PSLINE-2-6</option>
                <option>PSLINE-2-7</option>
            </select>
        </div>
    </div>
</form>
<form id="topolinks-unassign-add-drop-form">
    <div><input type="hidden" name="action" value="unassign-srrg"></div>
    <div><input type="hidden" name="type" value="add-drop"></div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <button type="submit" class="btn btn-success" style="width: 33%" id="topolinks-unassign-btn" disabled>
                Unassign
            </button>
        </div>
    </div>
</form>


<div class="table" id="tablediv">
    <table id="topo_links_table"></table>
</div>

<script type="text/javascript">
    client.buildtopolinkstable_add_drop('{{ topo_links_data }}');
    client.set_psline_select(getUrlVars()['psline']);

</script>

{% end %}